.userContainer {
  display: flex;
  align-items: center;
  max-width: 767px;
  height: 40px;
  padding: 0 15px;
  background-color: #eff1f3;
}
.userInfo {
  display: flex;
  width: 290px;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}
.name {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #212121;
  margin-right: 15px;
}

.logout {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #9b9faa;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.Line {
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .userContainer {
    padding: 0;
    margin-right: 50px;
    background-color: transparent;
  }
}
@media screen and (min-width: 1280px) {
  .userContainer {
    max-height: 100%;
    background-color: #f0f1f3;
  }
  .name {
    margin-right: 22px;
  }
  .Line {
    margin-right: 22px;
  }
  .userInfo {
    margin: 0;
  }
}
