.container {
  display: block;
  max-width: 1440px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 87px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 115px;
  }
}
