@media screen and (min-width: 1280px) {
  .CalculatorPageContainer {
    display: grid;
    grid-template-areas: "content sidebar";
    grid-template-columns: 58% 42%;
    grid-template-rows: 1fr;
  }
  .CalculatorPageInnerContainer {
    grid-area: content;
  }
  .CalculatorSideBar_container {
    grid-area: sidebar;
  }
}
