@media screen and (min-width: 1280px) {
.PageContainer {
 display: grid;
    grid-template-areas: 'content sidebar';
    grid-template-columns: 58% 42%;
    grid-template-rows: 1fr;
}
.calculatorPageLeftSide {
   grid-area: content;
}
.calculatorPageRigthSide {
  grid-area: sidebar;
}
}