@media screen and (min-width: 1280px) {
  .calculatorPageLeftSide {
    margin-top: 146px;
    margin-left: 115px;
    height: 85vh;
  }
  .calculatorPageRigthSide {
    margin-top: 146px;
    margin-left: 90px;
    height: 85vh;
  }
}
