@media screen and (min-width: 1280px) {
  .DiaryPageContainer {
    display: grid;
    grid-template-areas: 'content sidebar';
    grid-template-columns: 58% 42%;
    grid-template-rows: 1fr;
    outline: 1px solid tomato;
  }
  .DiaryPageInnerContainer {
    grid-area: content;
    outline: 1px solid green;
  }
}
