@media screen and (min-width: 1280px) {
  .DiaryPageContainer {
    display: grid;
    grid-template-areas: "content sidebar";
    grid-template-columns: 58% 42%;
    grid-template-rows: calc(100vh - 170px);
  }
  .DiaryPageInnerContainer {
    grid-area: content;
  }
  .RightSideBar_container {
    grid-area: sidebar;
  }

  .DiaryPageLeftSide {
    margin-top: 146px;
    margin-left: 115px;
    height: 85vh;
  }

  .DiaryPageRightSide {
    padding-top: 146px;
    padding-left: 90px;
    height: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -100px;
    background-image: url(../images/rightSideBar/rightSideBar_desk.png);
  }
}
