.text {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  margin-bottom: 50px;
}

.comingSoon {
  width: 500px;
  margin-bottom: 50px;
  display: block;
}

.secondary_form_btn {
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: #fc842d;

  width: 176px;
  height: 44px;

  background: #ffffff;
  border: 2px solid #fc842d;
  box-sizing: border-box;
  border-radius: 30px;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary_form_btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1279px) {
  .notFoundWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
