.headerBar {
  top: 0;
  left: 0;
  z-index: 1100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 18px 0;
  /* padding: 18px 0; */
  background-color: #ffffff;
  border-bottom: 2px solid #e0e0e0;
}

.List {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.ListItem {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .headerBar {
    margin: 18px 0;
    padding: 0 70px;
  }
}

@media screen and (min-width: 1280px) {
  .headerBar {
    /* padding: 90px; */
    margin: 90px 0;
    padding: 0 90px;
    justify-content: flex-start;
    align-items: baseline;
    border-bottom: none;
  }
}
